# development, production
ENV=development
HOST=localhost


# DB section
DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

# CACHE
CACHE_DRIVER=REDIS
CACHE_HOST=redis
CACHE_PORT=6379

OZON_CLIENTID=111
OZON_KEY=11111111-1111-1111-1111-111111111111